.ui.inverted.top.fixed.menu{
  background-color: #272C33 !important;
}

.ui.inverted.segment{
  background-image: url("../../assets/HeaderBackground.png");
}

body {
  background-color: #272C33 !important;
}

.ui.inverted.menu .item {
  color: #ffffff !important;
}

.ui.button {
  background-color: rgb(44, 52, 88, 1);
}

.ui.menu .item:before{
  color: rgb(255,255,255);
  background-color: rgb(255, 255, 255,0);
  width: 1px;
  height: 10%;
  margin-top: 29px;
}

.ui.mini.image {
  width: 45px
}

.ui.inverted.button{
  color: #ffffff;
  border-color: #272C33;
  border: 2em;
  background-color: #272C33;
}